html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  display: flex;
  background: linear-gradient(
    to right bottom,
    #3049d9,
    #455bd8,
    #f06e50,
    #f24c27
  );
  height: 100vh;
  animation: 10s berubah ease infinite alternate;
}

.container {
  width: 400px;
  height: 380px;
  margin: 100px auto 160px;
  box-sizing: border-box;
  border: 4px solid #222;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  border-radius: 10px;
}

.container h1 {
  border-bottom: 1px solid #222;
  padding-bottom: 15px;
}

#username {
  margin-bottom: 10px;
}

#username,
#password {
  width: 90%;
  height: 30px;
  margin-top: 25px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #222;
}

input::placeholder {
  color: #111;
  font-size: 15px;
}

p {
  text-align: left;
  margin-top: 25px;
  padding-left: 15px;
  font-size: 20px;
  color: #111;
}

button {
  width: 85%;
  height: 40px;
  border-radius: 20px;
  background-color: #3049d9;
  color: white;
  font-size: 17px;
}

.footer {
  text-align: center;
  margin-top: 60px;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  color: #3049d9;
}

@keyframes berubah {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
